@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Julius+Sans+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-model: border-box;
  font-family: 'Dosis', sans;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  background-image: linear-gradient(45deg, rgb(204, 204, 255), rgb(204, 255, 204));
  display: flex;
  align-items: center;
  justify-content: center;
}
.calc-wrapper {
  
  width: 300px;
  height: 400px;
  background-color: black;
  padding: 5px;
}

/* <grid'ing' buttons> */
.buttons-wrapper {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 70px 70px 70px 70px 70px;
}
.box-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.box-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.box-3 {
  grid-column-start: 4; 
  grid-row-start: 4; 
  grid-row-end: 6; 
}
/* </grid'ing' buttons> */

/* Styling buttons */

button {
    border: solid black 0.2px;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    
    font-size: 1rem;
    cursor: default;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #0053ba;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.99);
}

#clear {
  background-color: rgba(179, 0, 0, 0.85);    
}
#clear:hover {
  background-color: rgba(179,0,0, 0.7);
}
.numbers {
  background-color: rgb(89, 89, 89);
}
.numbers:hover {
  background-color: rgba(89, 89, 89, 0.85)
}
/* Display style */

#displayy {
  display: flex;
  flex-direction: column;
  background-color: black;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 0px 0px 0px;
}

.input {
  color: yellow;
  font-size: 20px;
}
.result {
  color: white;
}

